
<div class="jumbotron"  id="<%= dom_id test %>">
  <h1 class="display-4">
  <%= test.first_name %>
  <%= test.last_name %>
  </h1>
  <p class="lead"><%= test.email %>.</p>
  <hr class="my-4">
  <table>
  <tr>
  <td><%= link_to "Edit this test", edit_test_path(@test), class:"btn btn-dark " %></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= button_to "Delete this test", @test, method: :delete, class:"btn btn-danger", data: { confirm: "Are you sure?"} %></td>
  </tr>
  </table>
</div>